# Ignore macOS system files
.DS_Store

# Ignore IDE files
.idea
/es
/writeaid-frontend/.idea/
# Backend-specific ignore rules
/writeaid-backend/data
/writeaid-backend/log
/writeaid-backend/.env*
/writeaid-backend/npm-debug.log*
/writeaid-backend/yarn-debug.log*
/writeaid-backend/yarn-error.log*

# Frontend-specific ignore rules
/writeaid-frontend/node_modules/
/writeaid-frontend/coverage/
/writeaid-frontend/build/
/writeaid-frontend/.env*
/writeaid-frontend/npm-debug.log*
/writeaid-frontend/yarn-debug.log*
/writeaid-frontend/yarn-error.log*
