# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/writeaid-backend/service-base/data

# dependencies
/writeaid-frontend/node_modules
/writeaid-frontend/.pnp
/writeaid-frontend/.pnp.js

# testing
/writeaid-frontend/coverage

# production
/writeaid-frontend/build

# misc
/writeaid-frontend/.DS_Store
/writeaid-frontend/.env.local
/writeaid-frontend/.env.development.local
/writeaid-frontend/.env.test.local
/writeaid-frontend/.env.production.local

/writeaid-frontend/npm-debug.log*
/writeaid-frontend/yarn-debug.log*
/writeaid-frontend/yarn-error.log*
